:root {
  --off-white : #fffbf8;
  --pale-yellow : #fff3b5;
  --pale-brown : #bcbfc5;
  --dark-brown : #4c352f;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0;
  background-image: url(../images/plaid-bg.svg);
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Genice Writing', sans-serif;
}

@media (min-width: 1200px) {
  .container {
    max-width: 750px;
  }
}

.mobile-only {
  display: none;
}
.desktop-only {
  display: block;
}

.yellow {
  background-color: var(--pale-yellow);
}

hr.vertical {
  border-right: white 4px solid;
}

h1 {
  font-family: 'Peanut', cursive;
  color: var(--dark-brown);
  font-size: 3.5rem;
  line-height: 0.9;
}

h1 span {
  font-size: 2rem;
}

h2, h3 {
  text-transform: uppercase;
  color: var(--dark-brown);
}

.uppercase {
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 14pt;
}

p {
  font-family: 'Genice Writing', sans-serif;
  letter-spacing: 0.03em;
  line-height: 1;
}

a {
  text-decoration: underline dashed;
  color: var(--dark-brown);
  cursor: pointer;
  margin-bottom: 0.2em;
}

#registry-link {
  font-size: larger;
  background-color: white;
  padding: 0.5em;
  text-align: center;
}

/* Sections */
section {
  --section-padding : 1.25rem;

  background-color: var(--off-white);
  border-radius: 10px;
  border: 2px solid var(--pale-yellow);
  margin: 1rem 0;
  color: var(--dark-brown);
  padding: calc(var(--section-padding) * 1.25) var(--section-padding);
  position: relative;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

#main-invite {
  background-image: url(../images/cloud-bg.svg);
  background-repeat: repeat-x;
  background-size: auto 45%;
  background-position: center 1em;
  padding-top: 5%;
  padding-bottom: 0;
  animation: floating-bg 60s linear infinite;
}

@keyframes floating-bg {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 50vw;
  }
}

#snoopy {
  margin-bottom: 1.5rem;
  width: 50%;
  max-width: 210px;
}

#details {
  display: flex;
  justify-content: center;
  margin-left: calc(var(--section-padding) * -1);
  margin-right: calc(var(--section-padding) * -1);
  gap: 30px;
}

#details p {
  margin-top: 1rem;
}

.success-message {
  margin-top: var(--section-padding);
  margin-left: calc(var(--section-padding) * -1);
  margin-right: calc(var(--section-padding) * -1);
}

#couple-image {
  background-image: url(../images/couple.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: calc(100% - 2rem);
  margin-top: 1rem;
}

#rsvp {
  margin-top: 2rem;
}

#rsvp-image {
  background-image: url(../images/sign.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;  
  display: inline-block;  
  height: 2.5em;
  width: 100px;
  position: absolute;
  top: -1.5em;
}

#woodstock-image {
  background-image: url(../images/woodstock.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 1em;
  height: calc(100%);
}

/* FORM */
input[type="text"] {
  background-color: var(--pale-brown);
}

.radio-wrapper {
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.radio {
  margin-right: 1.5em;
}

.radio input {
  position: absolute;
  left: -100vw;
  opacity: 0;
}

.radio label::before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: var(--pale-yellow);
  border: 3px solid var(--dark-brown);
  margin-right: 0.5em;
}

.radio input:checked ~ label::before {
  background-color: var(--dark-brown);
  background-image: url(../images/checkmark.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.btn {
  min-width: 200px;
  padding: .35em 1.5em;
  background-color: var(--off-white);
  border: 2px solid var(--dark-brown);
  color: var(--dark-brown);
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--dark-brown);
  color: white;
  border: 2px solid var(--dark-brown);
}

.modal.show {
  background-color: rgba(0, 0, 0, 0.2);
}



@font-face {
  font-family: 'Genice Writing';
  src: url('../font/GeniceWriting-Regular.otf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Peanut';
  src: url('../font/Peanut\ Toast.otf') format('truetype');
  font-style: normal;
  font-display: swap;
}

/* Mobile */
@media (max-width: 480px) {
  section {
    margin-left: 1em;
    margin-right: 1em;
  }

  hr.vertical {
    margin: 0;
  }

  #main-invite {
    background-size: auto 40%;
    padding-top: 10%;
    animation: floating-bg 30s linear infinite;
  }

  #details {
    flex-direction: column;
    gap: 0px;
  }
  
  #details p {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }

  #woodstock-image {
    min-height: 125px;
    height: calc(100% - 1rem);
  }
}

@media (max-width: 768px) {
  #snoopy {
    margin-top: 2rem;
    max-width: 280px;
  }

  .title {
    flex-direction: column;
    text-align: center;
  }

  #couple-image {
    background-size: 100% auto;
    max-width: 200px;
    height: 150px;
    background-position: center top;
    margin-bottom: 0;
  }

  #rsvp {
    margin-top: 0;
  }

  #rsvp-image {
    right: 1em;
  }

  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}