:root {
  --off-white : #fffbf8;
  --pale-yellow : #fff3b5;
  --pale-brown : #d4c5b6;
  --dark-brown : #4c352f;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0;
  background-image: url(../images/plaid-bg.svg);
  background-repeat: repeat;
  background-size: cover;
  text-transform: uppercase;
}

.mobile-only {
  display: none;
}
.desktop-only {
  display: block;
}

.yellow {
  background-color: var(--pale-yellow);
}

hr.vertical {
  border-right: white 4px solid;
}

.reset {
  text-transform: initial;
}

h1, h2, h3, .special-font {
  font-family: 'Genice Writing', sans-serif;
}

h2 {
  font-size: 16pt;
}

p {
  letter-spacing: 0.08em;
  font-family: 'Effra', sans-serif;
}

a {
  text-decoration: underline dashed;
  color: var(--dark-brown);
  cursor: pointer;
}

#registry-link {
  font-size: larger;
  background-color: white;
  padding: 0.5em;
  text-align: center;
}

/* Sections */
section {
  --section-padding : 1.25rem;

  background-color: var(--off-white);
  border-radius: 10px;
  border: 2px solid var(--pale-yellow);
  margin: 1rem 0;
  color: var(--dark-brown);
  padding: calc(var(--section-padding) * 1.25) var(--section-padding);
}

#main-invite {
  background-image: url(../images/cloud-bg.svg);
  background-repeat: repeat-x;
  background-size: 50%;
  background-position: center 1em;
  padding-top: 1.5em;
}

#snoopy {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  width: 60%;
  max-width: 250px;
}

#details {
  display: flex;
  justify-content: center;
  margin-left: calc(var(--section-padding) * -1);
  margin-right: calc(var(--section-padding) * -1);
}

#couple-image {
  background-image: url(../images/couple.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: calc(100% - 1rem);
}

#woodstock-image {
  background-image: url(../images/woodstock.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: calc(100%);
}

/* FORM */
input[type="text"] {
  background-color: var(--pale-brown);
}

.radio-wrapper {
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.radio {
  margin-right: 1.5em;
}

.radio input {
  position: absolute;
  left: -100vw;
  opacity: 0;
}

.radio label {
  font-size:  1.3em;
}

.radio label::before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: var(--pale-yellow);
  border: 3px solid var(--dark-brown);
  margin-right: 0.5em;
}

.radio input:checked ~ label::before {
  background-color: var(--dark-brown);
}

.btn {
  width: 100%;
  background-color: var(--off-white);
  border: 2px solid var(--dark-brown);
  color: var(--dark-brown);
  font-size: large;
}

.btn:hover {
  background-color: var(--dark-brown);
  color: white;
  border: 2px solid var(--dark-brown);
}





@font-face {
  font-family: 'Genice Writing';
  src: url('../font/GeniceWriting-Regular.otf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Effra';
  src: url('../font/Effra_Std_Rg.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

/* Mobile */
@media (max-width: 480px) {
  hr.vertical {
    margin: 0;
  }

  #main-invite {
    background-size: 345px;
  }

  #details {
    flex-direction: column;
  }
  
  #woodstock-image {
    min-height: 125px;
    margin-right: -2em;
    height: calc(100% - 1rem);
  }
}

@media (max-width: 768px) {
  #main-invite {
    background-size: 90%;
  }

  #couple-image {
    background-size: 100% auto;
    max-width: 200px;
    height: 150px;
    background-position: center top;
    margin-bottom: 0;
  }

  #rsvp {
    margin-top: 0;
  }

  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}